.DS_Store
node_modules/
coverage/
package-lock.json

.gradle
*/build/
**/dist/
**/.cache/
**/.elixir_ls/
!gradle/wrapper/gradle-wrapper.jar
target/

### ReasonML ###
**/*.bs.js

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*/.idea
*.iws
*.iml
*.ipr
*/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### elixir
# The directory Mix will write compiled artifacts to.
**/_build/

# If you run "mix test --cover", coverage assets end up here.
**/cover/

# The directory Mix downloads your dependencies sources to.
**/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
**/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
**/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
**/islands_engine-*.tar


# Rails
# Ignore bundler config.
**/.bundle

# Ignore the default SQLite database.
**/db/*.sqlite3
**/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
**/log/*
**/tmp/*
!*/log/.keep
!*/tmp/.keep

# Ignore Byebug command history file.
*/.byebug_history


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

